## Recommender Systems
#### Import libraries and Data

In [1]:
# Import Pandas
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
print("Movies data contains", metadata.shape[0], "rows and",  metadata.shape[1], "columns")
# Print the first three rows
metadata.head(3)

Movies data contains 45466 rows and 24 columns

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

### Important Note: 
#### If you face Memory Error during the execution of notebook, try to reduce the sample size in cell below.
<b> Exmaple of Error: </b> 
<i> MemoryError: Unable to allocate 5.59 GiB for an array with shape (750073879,) and data type float64 </i>

In [2]:
# IMPORTANT ACTION
# Read sample data size of 1,000 records
metadata = metadata.iloc[:1000,]

## Simple Recommender

In [3]:
# Calculate mean of vote average column
C = metadata['vote_average'].mean()
print(C)

5.983399999999998

In [4]:
# Calculate the minimum number of votes required to be in the chart, m
m = metadata['vote_count'].quantile(0.90)
print(m)

630.2

In [5]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(100, 24)

In [6]:
metadata.shape

(1000, 24)

In [7]:
# Function that computes the weighted rating of each movie
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [8]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [9]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

                          title  vote_count  vote_average     score
314    The Shawshank Redemption      8358.0           8.5  8.323551
834               The Godfather      6024.0           8.5  8.261660
292                Pulp Fiction      8670.0           8.3  8.143023
351                Forrest Gump      8147.0           8.2  8.040849
522            Schindler's List      4436.0           8.3  8.011831
256                   Star Wars      6778.0           8.1  7.919945
289      Leon: The Professional      4293.0           8.2  7.916262
46                        Se7en      5915.0           8.1  7.896205
586    The Silence of the Lambs      4549.0           8.1  7.842454
359               The Lion King      5520.0           8.0  7.793363
49           The Usual Suspects      3334.0           8.1  7.763518
109                 Taxi Driver      2632.0           8.1  7.691110
536                Blade Runner      3833.0           7.9  7.629378
897       2001: A Space Odyssey      3075.0           7.9  7.574015
877                 Rear Window      1531.0           8.2  7.553646
0                     Toy Story      5415.0           7.7  7.521048
582  Terminator 2: Judgment Day      4274.0           7.7  7.479413
758               Trainspotting      2737.0           7.8  7.460008
108                  Braveheart      3404.0           7.7  7.431842
475               Jurassic Park      4956.0           7.6  7.417625

## Content Based Recommendation System

In [10]:
#Print plot overviews of the first 5 movies.
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [11]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(1000, 9397)

In [12]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['lisette',
 'list',
 'listener',
 'listening',
 'listens',
 'literacy',
 'literally',
 'literary',
 'literature',
 'little']

In [13]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [14]:
cosine_sim.shape

(1000, 1000)

In [15]:
cosine_sim[1]

array([0.01570657, 1.        , 0.05047128, 0.        , 0.        ,
       0.06347027, 0.        , 0.        , 0.13007813, 0.        ,
       0.01049135, 0.        , 0.        , 0.01081754, 0.        ,
       0.        , 0.        , 0.02875918, 0.        , 0.        ,
       0.        , 0.        , 0.0083177 , 0.        , 0.        ,
       0.02547456, 0.02400415, 0.0078402 , 0.        , 0.        ,
       0.        , 0.03892828, 0.        , 0.00756611, 0.0065216 ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02654167, 0.        ,
       0.        , 0.02458782, 0.01052735, 0.        , 0.01706456,
       0.00718543, 0.        , 0.03151913, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01283766, 0.        , 0.02456173,
       0.00941712, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01199259, 0.        , 0.        ,
       0.        , 0.        , 0.00734695, 0.        , 0.        ,
       0.        , 0.00726413, 0.00696421, 0.        , 0.        ,
       0.0351267 , 0.        , 0.        , 0.        , 0.01885584,
       0.        , 0.        , 0.        , 0.01715737, 0.01873933,
       0.        , 0.08009786, 0.01263599, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02544652, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00947015, 0.00986416,
       0.        , 0.        , 0.        , 0.01085004, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.05306438,
       0.        , 0.0091401 , 0.        , 0.01311218, 0.        ,
       0.        , 0.        , 0.02146528, 0.        , 0.        ,
       0.01258141, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01544586,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02461319, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00786004, 0.0534614 , 0.        , 0.        ,
       0.        , 0.04870323, 0.01444092, 0.        , 0.01431691,
       0.        , 0.05326779, 0.00586285, 0.        , 0.01258366,
       0.        , 0.        , 0.        , 0.01813607, 0.04196542,
       0.024459  , 0.        , 0.05015398, 0.        , 0.04807044,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0132076 , 0.01518585,
       0.00871223, 0.        , 0.        , 0.00917993, 0.        ,
       0.        , 0.        , 0.        , 0.01649559, 0.        ,
       0.        , 0.02033522, 0.        , 0.        , 0.        ,
       0.00746178, 0.        , 0.        , 0.01272918, 0.        ,
       0.        , 0.00931845, 0.        , 0.02015276, 0.        ,
       0.        , 0.        , 0.        , 0.0169876 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02137429, 0.        , 0.        ,
       0.        , 0.01939445, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01038887, 0.01297218,
       0.0085482 , 0.01421202, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02459398, 0.03135103, 0.        ,
       0.00923508, 0.02842819, 0.00866669, 0.0647306 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00903811, 0.        , 0.        , 0.00891059,
       0.03301223, 0.01281852, 0.01022265, 0.        , 0.        ,
       0.02032649, 0.        , 0.02417944, 0.        , 0.02123768,
       0.        , 0.        , 0.        , 0.00901271, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.04167988, 0.        , 0.06861486,
       0.00930325, 0.05831356, 0.        , 0.02893083, 0.02035745,
       0.04480101, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01350467, 0.        , 0.01102788,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04682874,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.02156208, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00919354, 0.        ,
       0.04167521, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01646039, 0.11536058, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01451177, 0.        , 0.        , 0.        , 0.        ,
       0.00828522, 0.        , 0.        , 0.00742693, 0.        ,
       0.01346051, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01276481, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.0127904 , 0.        , 0.01299162, 0.02304589, 0.        ,
       0.03522206, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.02162238, 0.        , 0.0290189 , 0.        , 0.06762267,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03044646, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02054887, 0.        ,
       0.        , 0.00945837, 0.01485084, 0.        , 0.        ,
       0.        , 0.01172044, 0.        , 0.        , 0.        ,
       0.        , 0.00730676, 0.        , 0.        , 0.        ,
       0.00967959, 0.        , 0.01411248, 0.        , 0.0265233 ,
       0.        , 0.        , 0.        , 0.        , 0.02252014,
       0.        , 0.        , 0.        , 0.        , 0.00959673,
       0.00939647, 0.        , 0.        , 0.        , 0.05342889,
       0.01344543, 0.        , 0.0232181 , 0.        , 0.        ,
       0.03274332, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.03046347, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00847479, 0.0205826 , 0.        ,
       0.00890131, 0.        , 0.        , 0.        , 0.        ,
       0.0143905 , 0.        , 0.        , 0.        , 0.        ,
       0.00996595, 0.        , 0.02270981, 0.        , 0.        ,
       0.        , 0.        , 0.01928924, 0.        , 0.        ,
       0.        , 0.        , 0.01446678, 0.        , 0.        ,
       0.        , 0.00885834, 0.        , 0.00956706, 0.01639971,
       0.02306444, 0.00812591, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02495093, 0.        , 0.        , 0.        ,
       0.01996216, 0.        , 0.01582278, 0.        , 0.        ,
       0.        , 0.        , 0.00990974, 0.        , 0.        ,
       0.014213  , 0.        , 0.        , 0.02908483, 0.00761522,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02383051,
       0.        , 0.01553059, 0.01008932, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03638886, 0.        ,
       0.        , 0.07444982, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03797963, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0242042 , 0.02242864, 0.00842952, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.04413907,
       0.        , 0.01446258, 0.        , 0.        , 0.01097269,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00744836, 0.        ,
       0.        , 0.01011119, 0.        , 0.        , 0.01451986,
       0.01680347, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.03242643, 0.        , 0.        ,
       0.        , 0.04113248, 0.        , 0.        , 0.        ,
       0.01089867, 0.        , 0.        , 0.00604465, 0.        ,
       0.03931976, 0.00747388, 0.03573995, 0.02176453, 0.        ,
       0.        , 0.01164994, 0.        , 0.02199396, 0.        ,
       0.0065416 , 0.00806737, 0.        , 0.        , 0.        ,
       0.        , 0.00552896, 0.        , 0.0218902 , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01374102,
       0.        , 0.        , 0.        , 0.        , 0.02344942,
       0.01007883, 0.        , 0.        , 0.        , 0.        ,
       0.01222004, 0.        , 0.        , 0.        , 0.04618712,
       0.01535404, 0.        , 0.        , 0.        , 0.00853951,
       0.        , 0.00733982, 0.0106553 , 0.        , 0.        ,
       0.        , 0.02310416, 0.        , 0.01196379, 0.        ,
       0.        , 0.        , 0.07054532, 0.04545702, 0.        ,
       0.        , 0.        , 0.        , 0.00943586, 0.022378  ,
       0.03248617, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.02114608, 0.03347913, 0.        , 0.        ,
       0.00610574, 0.        , 0.02191693, 0.        , 0.01784501,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00833248, 0.        , 0.00944231, 0.        , 0.        ,
       0.        , 0.        , 0.01833689, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.01800573,
       0.02170037, 0.0116977 , 0.00883317, 0.01733375, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.01569486, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00783722, 0.        ,
       0.        , 0.01124606, 0.        , 0.        , 0.        ,
       0.        , 0.01092447, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.02206207, 0.        ,
       0.        , 0.00982349, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00909405, 0.        ,
       0.        , 0.01436484, 0.00975514, 0.        , 0.0225131 ,
       0.        , 0.        , 0.        , 0.        , 0.01006794,
       0.01616706, 0.        , 0.        , 0.008284  , 0.07563565,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.03866415, 0.02649367,
       0.01094054, 0.        , 0.0091902 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.02863793,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00831786, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0303064 , 0.00616755,
       0.        , 0.        , 0.        , 0.        , 0.06400055,
       0.        , 0.        , 0.        , 0.01919584, 0.        ,
       0.01703999, 0.01539538, 0.04089107, 0.        , 0.07750119,
       0.        , 0.        , 0.01348776, 0.        , 0.01719337,
       0.0118713 , 0.        , 0.        , 0.        , 0.        ,
       0.00918436, 0.02567406, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.01083469, 0.01827848, 0.        ,
       0.        , 0.        , 0.02546276, 0.        , 0.        ,
       0.        , 0.        , 0.01056296, 0.        , 0.        ,
       0.01316169, 0.        , 0.        , 0.        , 0.        ,
       0.00763183, 0.        , 0.        , 0.00657036, 0.        ,
       0.        , 0.01910999, 0.        , 0.        , 0.        ,
       0.        , 0.04072744, 0.01347749, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00769848,
       0.        , 0.        , 0.01722387, 0.        , 0.09092804,
       0.        , 0.        , 0.01235371, 0.00786571, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.06484774, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.0346796 ,
       0.        , 0.10836989, 0.00544756, 0.        , 0.        ,
       0.01113945, 0.        , 0.02925342, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.03083172, 0.        , 0.        , 0.01578968, 0.02378018])

In [16]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [17]:
indices[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

In [18]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [19]:
get_recommendations('Jumanji') #('From Dusk Till Dawn')

8                  Sudden Death
363                    Maverick
976        D3: The Mighty Ducks
954                      Picnic
96                     Shopping
894            My Favorite Year
839                 Small Faces
591             Window to Paris
717    Getting Away with Murder
309           The Swan Princess
Name: title, dtype: object

In [20]:
get_recommendations('The Godfather') #('Toy Story') #('Se7en')

401                             Federal Hill
39                  Cry, the Beloved Country
761                          Stealing Beauty
759                        Til There Was You
371                           The River Wild
29                            Shanghai Triad
745               The Last of the High Kings
330                           The Underneath
864    Halloween: The Curse of Michael Myers
251                           The Jerky Boys
Name: title, dtype: object

## Credits, Genres, and Keywords Based Recommender

In [21]:
# Load keywords and credits
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

# Remove rows with bad IDs.
#metadata = metadata.drop([19730, 29503, 35587]) (uncomment it if you are using complete dataset)

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [22]:
# Print the first two movies of your newly merged metadata
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [23]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [24]:
# Import Numpy
import numpy as np

In [25]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [26]:
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [27]:
# Define new director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [28]:
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"

In [29]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [30]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [31]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [32]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [33]:
metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [34]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [35]:
count_matrix.shape

(1009, 3927)

In [36]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [37]:
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [38]:
get_recommendations('GoldenEye', cosine_sim2) # 'Grumpier Old Men', 'Toy Story', 'Se7en'

746            The Phantom
223              Drop Zone
416           Black Beauty
429            Cliffhanger
452           The Fugitive
542     Surviving the Game
638    Mission: Impossible
719               The Rock
780               Daylight
8             Sudden Death
Name: title, dtype: object